[Desktop Entry]
Type=Application
Name=Borne
Comment=
Exec=/bin/bash -lc "__CHEMIN_LANCEUR_BORNE__"
Icon=gtk-dialog-authentication
NotShowIn=GNOME;KDE;
Hidden=false
Terminal=true
X-KeepTerminal=false
